html {
  overflow-y: overlay;
}

body {
  background-color: #2b2b2b;
  font-family: 'Open Sans';
  text-align: center;
}

h2 {
  font-size: 1em;
  font-weight: normal;
}

h3 {
  /* Text stuff */
  font-weight: normal;
  font-size: 0.7em;
  text-align: left;

  /* Margin */
  margin: 0;
}

p {
  /* Padding & styling */
  background-color: #2b2b2b;
  padding: 0.5em;
  margin: 0.2em;

  /* Text stuff */
  text-align: left;
  font-size: 0.7em;
  word-wrap: break-word;
}

/*The wrapper class basically encompasses the main overall window*/
.wrapper {
  display: grid;
  /* background-color: #434343; */
  grid-template:
    'loadas panel panel panel pixelation' 8%
    'loadfile panel panel panel pixelation' minmax(0, 1fr)
    'fileinfo panel panel panel pixelation' minmax(0, 1fr)
    'fileinfo panel panel panel outputresolution' minmax(0, 1fr)
    'fileinfo panel panel panel saveas' 8%
    / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 0.5em;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

/*Applies to each individual element inside the grid*/
.wrapper > div {
  background-color: #434343;
  color: #f3f3f3;
  /* text-align: center; */
}

.loadFile {
  grid-area: loadfile;
  display: grid;
  padding: 1em;
}

.fileInfo {
  grid-area: fileinfo;
  padding: 1em;
}

#container {
  grid-area: panel;
  text-align: initial;
}

#mainPanel {
}

.pixelation {
  grid-area: pixelation;
  padding: 1em;
}

.outputResolution {
  grid-area: outputresolution;
  padding: 1em;
}

#largeButton {
  grid-area: saveas;
  padding: 1em;
}

#smallButton {
  grid-area: loadas;
  padding: 1em;
}
