@font-face {
  font-family: 'Lemon Milk';
  src: url('fonts/LEMONMILK-Regular.otf');
}
@font-face {
  font-family: 'Coolvetica';
  src: url('fonts/coolvetica\ rg.ttf');
}
html {
  /* Makes the scrollbar an overlaw so the elements aren't affected */
  overflow-y: overlay;
}

body {
  background-color: #2b2b2b;
  font-family: 'Lemon Milk';
  text-align: center;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  /* DEBUG FOR NOW */
  background-color: #e06666;
}

h3 {
  /* Text stuff */
  font-weight: normal;
  font-size: 0.7em;
  text-align: left;

  /* Margin */
  margin: 0;
}

p {
  /* Padding & styling */
  background-color: #2b2b2b;
  padding: 0.5em;
  margin: 0.2em;

  /* Text stuff */
  text-align: left;
  font-size: 0.7em;
  word-wrap: break-word;
}

/*The wrapper class basically encompasses the main overall window*/
.wrapper {
  display: grid;
  /* background-color: #434343; */
  grid-template:
    'loadas panel panel panel pixelation' 8%
    'loadfile panel panel panel pixelation' minmax(0, 1fr)
    'fileinfo panel panel panel pixelation' minmax(0, 1fr)
    'fileinfo panel panel panel outputresolution' minmax(0, 1fr)
    'fileinfo panel panel panel saveas' 8%
    / minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 0.5em;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

/*Applies to each individual element inside the grid*/
.wrapper > div {
  background-color: #434343;
  color: #f3f3f3;
  /* text-align: center; */
}

.loadFile {
  grid-area: loadfile;
  /* display: grid; */
  padding: 1em;
}

.fileInfo {
  grid-area: fileinfo;
  padding: 1em;
}

#container {
  grid-area: panel;
  /* Centering image */
  display: flex;
  justify-content: center;
}

#panelImage {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

#pixelation {
  grid-area: pixelation;
  padding: 1em;
  /* Scuffed but decreases the size of h2 so worth */
  display: grid;
  grid-template-rows: auto 1fr;
}

.outputResolution {
  grid-area: outputresolution;
  padding: 1em;
}

#sliderContainer {
  padding: 1em;
  background-color: lightblue;
}

/* The actual slider in its length */
#pixelationSlider {
  /* Overrides the default styling */
  -webkit-appearance: none;
  /* Length and width of the slider */
  width: 100%;
  height: 1em;
  /* Rounds off the edges of the slider*/
  /* border-radius: 1px; */
  /* Sets the background color of the slider */
  background: #f3f3f3;
  /* Gets rid of outline surrounding the slider when selected */
  outline: none;
  /* Setting up for the hover animation */
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  /* Change it to vertical somehow... */
  transform: rotate(270deg);
}

#pixelationSlider:hover {
  opacity: 1;
}

/* The handle/part you can drag of slider*/
#pixelationSlider::-webkit-slider-thumb {
  /* Overrides the default styling */
  -webkit-appearance: none;
  /* Idk what the diff is here, need exp */
  appearance: none;
  /* Dimensions of handle */
  width: 1.5em;
  height: 1.5em;
  /* Rounds out the slider */
  /* border-radius: 50%; */
  background: #e06666;
  cursor: pointer;
}

#largeButton {
  grid-area: saveas;
  padding: 1em;
  /* Font stuff, for some reason body styling doesn't affect buttons */
  font-family: 'Lemon Milk';
  font-size: 1em;
}

#smallButton {
  grid-area: loadas;
  padding: 1em;
  /* Font stuff */
  font-family: 'Lemon Milk';
  font-size: 1em;
}
