@font-face {
  font-family: 'Lemon Milk';
  src: url('fonts/LEMONMILK-Regular.otf');
}

body {
  /* margin: 0; */
  /* padding: 0; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

h2 {
  font-family: 'Lemon Milk';
  background-color: #e06666;
  text-align: center;
}

#wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  background-color: #2b2b2b;
  grid-gap: 0.5em;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

#wrapper > div {
  background-color: #434343;
  padding: 1em;
  color: white;
}

#pixelationHeading {
}

#rangeContainer {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  /* Make content take up full width? */
  flex-basis: 50%;
  /* Centers */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* The actual slider in its length */
#rangeSlider {
  /* Overrides the default styling */
  -webkit-appearance: none;
  /* Length and width of the slider */
  width: 500px;
  height: 1em;
  /* Rounds off the edges of the slider*/
  /* border-radius: 1px; */
  /* Sets the background color of the slider */
  background: #f3f3f3;
  /* Gets rid of outline surrounding the slider when selected */
  outline: none;
  /* Setting up for the hover animation */
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  /* Change it to vertical somehow... */
  transform: rotate(270deg);
  margin: 0;
}

#rangeSlider:hover {
  opacity: 1;
}

/* The handle/part you can drag of slider*/
#rangeSlider::-webkit-slider-thumb {
  /* Overrides the default styling */
  -webkit-appearance: none;
  /* Idk what the diff is here, need exp */
  appearance: none;
  /* Dimensions of handle */
  width: 1.5em;
  height: 1.5em;
  /* Rounds out the slider */
  /* border-radius: 50%; */
  background: #e06666;
  cursor: pointer;
}

#column1 {
  display: flex;
  flex-direction: column;
}

#column2 {
}

#column3 {
}
